@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}
/* @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #1F4B3F;
  --color-secondary: #7191E6;
  --color-success: #8BBF2D;
  --color-base-100: #F8F3F1;
  --color-info: #0c532b;
} */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #f8fff8;
  --color-base-300: #f6fce8;
  --color-base-content: oklch(37% 0.077 168.94);
  --color-primary: #8abf2c;
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: #88966a;
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: #a8ad9b;
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: #444939;
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: #0c532b;
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: #ff493b;
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}


/* @plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #f8fff8;
  --color-base-300: #f6fce8;
  --color-base-content: oklch(37% 0.077 168.94);
  --color-primary: #8abf2c;
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: #88966a;
  --color-secondary-content: oklch(27% 0.077 45.635);
  --color-accent: #a8ad9b;
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: #444939;
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: #0c532b;
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(64% 0.2 131.684);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(76% 0.188 70.08);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: #ff493b;
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
} */


@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}



body, .sans {
  font-family: "Roboto", sans-serif;
}

/* body{
  background-color: #EEF9F2;
} */